<header class="header">
  <!-- Seção de logo -->
  <div class="logo">
    <img src="assets/images/logo.png" alt="Burguer Mania" /> <!-- Logo do site -->
  </div>

  <!-- Menu de navegação -->
  <nav class="nav">
    <ul>
      <!-- Links do menu de navegação com angular routerLink para navegação entre páginas -->
      <li><a routerLink="/home" routerLinkActive="active">Início</a></li> <!-- Página inicial -->
      <li><a routerLink="/category" routerLinkActive="active">Categoria</a></li> <!-- Página de categorias -->
      <li><a routerLink="/menu" routerLinkActive="active">Cardápio</a></li> <!-- Página de menu -->
      <li><a routerLink="/location" routerLinkActive="active">Localização</a></li> <!-- Página de localização -->
      <li><a routerLink="/contact" routerLinkActive="active">Contato</a></li> <!-- Página de contato -->
    </ul>
  </nav>
</header>
