<div class="input-container">
  <!-- Primeira linha de inputs: Produto 1 e Quantidade -->
  <div class="input-row">
    <div class="input-group">
      <label for="produto">Produto*</label>
      <input 
        type="text" 
        id="produto" 
        [(ngModel)]="selectedProduct['produto']"  
        (input)="onSearchTermChange('produto')"  
        (focus)="onFocus('produto')"  
        (blur)="onBlur('produto')"  
        placeholder="Digite o nome do produto" 
      />

      <!-- Caixa de sugestões que aparece enquanto o usuário digita no campo 'produto' -->
      <div *ngIf="showSuggestions['produto'] && filteredProducts.length > 0" class="suggestions-box">
        <!-- Exibe cada produto filtrado como sugestão -->
        <div 
          *ngFor="let product of filteredProducts" 
          (click)="selectProduct(product, 'produto')"  
          class="suggestion-item"
        >
          {{ product.name }}  <!-- Exibe o nome do produto -->
        </div>
      </div>
    </div>

    <!-- Campo de entrada para a quantidade do Produto 1 -->
    <div class="input-group">
      <label for="quantidade">Quantidade*</label>
      <input type="number" id="quantidade" placeholder="Digite a quantidade" />
    </div>
  </div>

  <!-- Segunda linha de inputs: Produto 2 e Quantidade -->
  <div class="input-row">
    <div class="input-group">
      <label for="produto2">Produto*</label>
      <input 
        type="text" 
        id="produto2" 
        [(ngModel)]="selectedProduct['produto2']"  
        (input)="onSearchTermChange('produto2')"  
        (focus)="onFocus('produto2')"  
        (blur)="onBlur('produto2')"  
        placeholder="Digite o nome do produto" 
      />

      <!-- Caixa de sugestões que aparece enquanto o usuário digita no campo 'produto2' -->
      <div *ngIf="showSuggestions['produto2'] && filteredProducts.length > 0" class="suggestions-box">
        <div 
          *ngFor="let product of filteredProducts" 
          (click)="selectProduct(product, 'produto2')"  
          class="suggestion-item"
        >
          {{ product.name }}  <!-- Exibe o nome do produto -->
        </div>
      </div>
    </div>

    <!-- Campo de entrada para a quantidade do Produto 2 -->
    <div class="input-group">
      <label for="quantidade2">Quantidade*</label>
      <input type="number" id="quantidade2" placeholder="Digite a quantidade" />
    </div>
  </div>

  <!-- Terceira linha de input: Observação -->
  <div class="input-row">
    <div class="input-group">
      <label for="observacao">Observação*</label>
      <textarea id="observacao" placeholder="Digite suas observações" rows="3"></textarea>
    </div>
  </div>
</div>

<!-- Botão para finalizar o pedido -->
<div class="finalize-button-container">
  <app-button [buttonType]="'quarter'" (click)="finalizeOrder()">FINALIZAR</app-button>
</div>
