<app-header></app-header>

<h1 class="menu-title">CATEGORIAS</h1>

<div class="menu-container">
  <app-card
    *ngFor="let category of getDisplayedCategories()" 
    [title]="category.name" 
    [description]="category.description" 
    [imageUrl]="category.pathImage" 
    (click)="navigateToOrder(category)">
  </app-card>
</div>

<div class="button-container">
  <app-button 
    [buttonType]="'tertiary'" 
    (click)="toggleCategories()">
    {{ showAllCategories ? 'ESCONDER CATEGORIAS' : 'VER TODAS AS CATEGORIAS' }}
  </app-button>
</div>
