<app-header></app-header> <!-- Componente de cabeçalho da aplicação -->

<div class="location-container"> <!-- Contêiner principal da página de localização -->
  <div class="location-content"> <!-- Contêiner para o conteúdo da localização -->
    <h1>Encontre-nos na UESB - Vitória da Conquista</h1> <!-- Título principal da página -->
    <p>Estamos localizados no campus da UESB em Vitória da Conquista. Venha nos visitar e experimente os nossos deliciosos hambúrgueres!</p> <!-- Descrição sobre a localização -->

    <div class="location-message"> <!-- Seção para o endereço -->
      <h2>Endereço:</h2> <!-- Subtítulo para o endereço -->
      <p>Universidade Estadual do Sudoeste da Bahia (UESB) - Campus Vitória da Conquista</p> <!-- Nome da instituição e campus -->
      <p>Rua Joaquim de Oliveira, s/n, Vitória da Conquista - BA, 45083-900</p> <!-- Endereço completo -->
    </div>

    <div class="map"> <!-- Contêiner para o mapa -->
      <!-- Mapa embutido da UESB, usando o iframe do Google Maps -->
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.9140863178314!2d-40.83418858487703!3d-14.86130670168427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7164b47920f77f7%3A0x55cb019d7bc7e122!2sUESB%20-%20Vit%C3%B3ria%20da%20Conquista!5e0!3m2!1spt-BR!2sbr!4v1607026235507!5m2!1spt-BR!2sbr" 
        width="600" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>
