<app-header></app-header>

<!-- Exibe o título da categoria -->
<h1 class="menu-title">{{ category?.name }}</h1>

<!-- Exibe os produtos da categoria em cards -->
<div class="menu-container">
  <app-card
    *ngFor="let product of products"
    [title]="product.name"
    [description]="product.baseDescription"
    [imageUrl]="product.pathImage"
    (click)="goToProductDetails(product)">
  </app-card>
</div>

<div class="button-container">
  <app-button [buttonType]="'tertiary'">VER OUTROs PRODUTOS</app-button>
</div>
