body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  overflow-y: auto; /* Permite o scroll vertical */
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}


